<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <style>
      		body {
        		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      		}
    	</style>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
      		<div class="navbar-inner">
        		<div class="container">
        	  		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    	        		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
          			</a>
          			<a class="brand" href="#">Hnefatafl</a>
          			<div class="nav-collapse collapse">
            			<ul class="nav">
              				<li class="active"><a href="@{Application.index()}">Home</a></li>
              				<li><a href="@{Application.index()}">New Game</a></li>
              				<li><a href="@{Application.rules()}">Rules</a></li>
            			</ul>
          			</div><!--/.nav-collapse -->
        		</div>
      		</div>
    	</div>

       	<div class="container">
       		#{doLayout /}
       	</div>
       	
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
    </body>
</html>
