#board{
}

.field{
	height: 40px;
	width: 40px;
	border: 1px solid black;
	position: absolute;
}

.corner{
	background-color: #ddd;
}

.throne{
	background-color: #ddd;
}

.piece{
	height: 30px;
	width: 30px;
	border: 1px solid black;
	margin-left: 4px;
	margin-top: 4px;
}

.white{
	background-color: white;
}

.black{
	background-color: black;
}

