#board{
}

.field{
	height: 40px;
	width: 40px;
	border: 1px solid black;
	position: absolute;
	background-image: url(/public/images/field.png)
}

.corner{
	background-image: url(/public/images/edge.png);
	background-color: #ddd;
}

.throne{
	background-image: url(/public/images/edge.png);
	background-color: #ddd;
}

.piece{
	height: 30px;
	width: 30px;
	margin-left: 5px;
	margin-top: 5px;
}

.white{
	background-image: url(/public/images/white.png);
}

.black{
	background-image: url(/public/images/black.png);
}

.king{
	background-image: url(/public/images/king.png);
}

#message{
	margin-left: 40px;
	background-color: black;
	color: white;
}

.jumbotron{
	margin-top: 200px;
	text-align: center;
}

.jumbotron h1 {
	font-weight: bold;
	font-size: 120px;	
	margin-bottom: 50px;
}

.jumbotron p {
	font-weight: bold;
	font-size: 40px;	
	margin-bottom: 50px;
}

.jumbotron .container {
	position: relative;
}
