#{extends 'main.html' /}
#{set title:'Home' /}

<div id="board"></div>
<div id="message"></div>

<script>

var board = {};
var pieces = {};
var piececounter = 0;

function allowDrop(ev){
  ev.preventDefault();
}

function drag(ev){
  ev.dataTransfer.setData("from",ev.target.parentElement.id);
  ev.dataTransfer.setData("piece",ev.target.id);
}

function drop(ev){
  ev.preventDefault();
  from=ev.dataTransfer.getData("from");
  piece=ev.dataTransfer.getData("piece");
  
  if(ev.target.id.indexOf("piece") == 0){
  	to = ev.target.parentElement.id;
  } else {
  	to = ev.target.id;
  }

  var fromX = from.match(/\d+/)[0];
  var fromY = from.match(/\d+$/)[0];
  var toX = to.match(/\d+/)[0];
  var toY = to.match(/\d+$/)[0];

  if(fromX == toX && fromY == toY)
    return;

  pieces[piece].appendTo(ev.target);
  
  var updateUserRoute = #{jsRoute @Application.doMove(':gameId', ':fromX', ':fromY', ':toX', ':toY') /}

  $.ajax({
    url: updateUserRoute.url({gameId: ${gameId}, fromX: fromX, fromY: fromY, toX: toX, toY: toY })
  }).done(function ( data ) {
    $(".piece").remove();
    $("#message").html(data.message);
    for(var i = 0; i < 9; i++){
  	  for(var j = 0; j < 9; j++){
  	    drawField(data.board.board[i][j]);
  	  }
    }
  });
}

function drawField(field){
  xPos = 41*field.XPosition + 100;
  yPos = 41*field.YPosition + 100;

  fieldId = "field" + field.XPosition + "x" + field.YPosition;
   
  div = $("<div/>", {class:"field", id: fieldId, style: "top:"+xPos+"px; left:"+yPos+"px",
    ondrop:"drop(event)", ondragover:"allowDrop(event)"});
   
  board[fieldId] = div;
   
  if(field.isCorner){
   	div.addClass("corner");
  }
  if(field.isThrone){
   	div.addClass("throne");
  }
   
  div.appendTo("#board");
   
  if(field.piece != null){
    piececounter++;
    pieceId = "piece" + piececounter;
    var piece;
     
   	if(field.piece.side == "BLACK")
   	  piece = $("<div/>", {class:"piece black", id: pieceId, draggable:"true", ondragstart:"drag(event)"});
   	else{
   	  if(field.piece.isKing){
   	  	piece = $("<div/>", {class:"piece white king", id: pieceId, draggable:"true", ondragstart:"drag(event)"});
   	  } else {
   	  	piece = $("<div/>", {class:"piece white", id: pieceId, draggable:"true", ondragstart:"drag(event)"});
   	  }
   	}
   	 
   	pieces[pieceId] = piece;
   	piece.appendTo(div);
  }   
}

$.ajax({
  url: "@{Application.boardJson(gameId)}"
}).done(function ( data ) {
  for(var i = 0; i < 9; i++){
  	for(var j = 0; j < 9; j++){
  	  drawField(data.board.board[i][j]);
  	}
  }
});

</script>