#{extends 'main.html' /}
#{set title:'Home' /}

<div class="jumbotron masthead">
	<div class="container">	
		<div id="board"></div>
		<div id="message"></div>
	</div>
</div>

<script>

var board = {};
var pieces = {};
var piececounter = 0;
var roundcounter = 0;

function allowDrop(ev){
  ev.preventDefault();
}

function drag(ev){
  ev.dataTransfer.setData("from",ev.target.parentElement.id);
  ev.dataTransfer.setData("piece",ev.target.id);
}

function getFieldId(field){
  return "field" + field.XPosition + "x" + field.YPosition;
}

function redraw(data){
  if(data.moveHistory.length == roundcounter){
	return;
  }
  
  $(".piece").remove();
  $("#message").html(data.message);
  
  for(var i = 0; i < 9; i++){
   for(var j = 0; j < 9; j++){
     drawField(data.currentState.board.board[i][j]);
   }
  }
  
  roundcounter = data.moveHistory.length;
  lastMove = data.moveHistory[data.moveHistory.length-1];
  toField = board[getFieldId(lastMove.to)];
  fromField = board[getFieldId(lastMove.from)];
  piece = toField.children();
  topPos = fromField.position().top - toField.position().top + 5;
  leftPos = fromField.position().left - toField.position().left + 5;
  piece.css("margin-top", topPos);
  piece.css("margin-left", leftPos);
  toField.css("z-index", 100);
  piece.animate(
    {"margin-top": "5px", "margin-left": "5px"},
    3000,
    function(){
      toField.css("z-index", 0);
    }
  );  
}

function refresh(){
$.ajax({
  url: "@{Application.boardJson(gameId)}"
}).done(function ( data ) {
  redraw(data);
});
}

function drop(ev){
  ev.preventDefault();
  from=ev.dataTransfer.getData("from");
  piece=ev.dataTransfer.getData("piece");
  
  if(ev.target.id.indexOf("piece") == 0){
  	to = ev.target.parentElement.id;
  } else {
  	to = ev.target.id;
  }

  var fromX = from.match(/\d+/)[0];
  var fromY = from.match(/\d+$/)[0];
  var toX = to.match(/\d+/)[0];
  var toY = to.match(/\d+$/)[0];

  if(fromX == toX && fromY == toY)
    return;

  pieces[piece].appendTo(ev.target);
  
  var doMoveRoute = #{jsRoute @Application.doMove(':gameId', ':fromX', ':fromY', ':toX', ':toY') /}

  $.ajax({
    url: doMoveRoute.url({gameId: ${gameId}, fromX: fromX, fromY: fromY, toX: toX, toY: toY })
  }).done(function ( data ) {
  	redraw(data);
  });
}

function drawField(field){
  xPos = 41*field.XPosition;
  yPos = 41*field.YPosition	;

  fieldId = getFieldId(field);
   
  div = $("<div/>", {class:"field", id: fieldId, style: "top:"+xPos+"px; left:"+yPos+"px",
    ondrop:"drop(event)", ondragover:"allowDrop(event)"});
   
  board[fieldId] = div;
   
  if(field.isCorner){
   	div.addClass("corner");
  }
  if(field.isThrone){
   	div.addClass("throne");
  }
   
  div.appendTo("#board");
   
  if(field.piece != null){
    piececounter++;
    pieceId = "piece" + piececounter;
    var piece;
     
   	if(field.piece.side == "BLACK")
   	  piece = $("<div/>", {class:"piece black", id: pieceId, draggable:"true", ondragstart:"drag(event)"});
   	else{
   	  if(field.piece.isKing){
   	  	piece = $("<div/>", {class:"piece white king", id: pieceId, draggable:"true", ondragstart:"drag(event)"});
   	  } else {
   	  	piece = $("<div/>", {class:"piece white", id: pieceId, draggable:"true", ondragstart:"drag(event)"});
   	  }
   	}
   	 
   	pieces[pieceId] = piece;
   	piece.appendTo(div);
  }   
}

refresh();
window.setInterval(refresh, 3000);

</script>